.logo{
    background-color: rgb(216, 70, 25);
    padding-left: 250px;
    display: flex;
    align-items: center;
}

.image{
    height: auto;
    margin-right: 10px;
    border-radius: 75%;
}

.text{
    margin: 0%;
    display: grid;
  place-content: center;
  min-height: 10vh;
  font-family: "Oswald", sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);

  text-transform: uppercase;
}

.text2{
    margin-top: 80px;
    padding-right: 15%;
    text-align: center;
    display:grid;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    text-decoration: underline;
    font-style: italic;
}

h3{
    background-color: rgb(216, 70, 25);     
}

 
.img {
    float: left;
    margin-right: 10px; /* Adjust the margin as needed */
  }

.divv{
     width: 100%;
}

.signup-button-cancel{
    background-color: #f7640f;
    color: #fff;
    border: none;
    padding: 6px 6px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.signup-button-cancel:hover {
    background-color: red;
   
  }
  

.signup-button-save{
    background-color: #f7640f;
    color: #fff;
    border: none;
    padding: 6px 6px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.signup-button-save:hover {
    background-color:green;
   
  }

.login-button{
    background-color: #f7640f;
    color: #fff;
    border: none;
    padding: 6px 6px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color:green;
   
  }

  .footer1{
    display:grid;
     max-width: 50%;
     margin: auto;
    padding: 0.7rem 0rem 0.5rem 3.5rem;
    background-color:  rgb(216, 70, 25);
    border-radius: 1rem;
    box-shadow:7px 7px 7px rgba(0,0,0,0.5) ;
    transform: translateY(50%);

}

.footer-button1{
   
    padding:0rem 0rem 0.3rem 26rem;
}

.text3{
    padding: 1rem 0rem 0rem 0rem;
    font-size: 25px;
    display:grid;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 5, 0.075);
    text-decoration: underline;
    font-style: italic;
   
}

.text4{
    padding: 2rem 0rem 0rem 0rem;
    font-size: 25px;
    display:grid;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 5, 0.075);
    text-decoration: underline;
    font-style: italic;
}

footer{
    padding: 10rem 0 9rem 0;
    background-color: #f7640f;
    
}